.add-product-button {
  border-left: 5px solid #3c3;

  @media screen and (max-width: 767px) {
    font-size: .8125em;
    height: 3rem;
    line-height: 3rem;
  }
}

label > small {
  color: #666;
  display:block;
  font-size: smaller;
}

tr.delete > td{
  text-decoration:line-through;
}

td.action > .product-action-view {
  margin:0;
}
