.contents-manager-view {
  > h3 {
    margin-top: .5em;
  }

  > small {
    color: #666;
  }

  &.drag-over {
    .contents-manager-view-inline-content:after {
      background: transparent;
      border: 4px dashed #ccc;
      bottom: 16px;
      color: #ccc;
      content: 'Drop files here';
      display: block;
      font-size: 4rem;
      height: 212px;
      left: 16px;
      line-height: 212px;
      pointer-events: none;
      position: absolute;
      right: 16px;
      text-align: center;
    }
  }

  > .contents-manager-view-inline-content {
    margin-top: 0.5em;
    position: relative;

    > .contents-manager-view-inline-content-toggle {
      display: block;
      margin: 1em 0;

      > .contents-manager-view-inline-content-toggle-edit,
      > .contents-manager-view-inline-content-toggle-preview {
        font-weight: bold;

        &.link {
          color: #00C;
          cursor: pointer;
          font-weight: normal;
          text-decoration: underline;
        }
      }
    }

    > .contents-manager-view-inline-content-edit {
      font-family: monospace;
      height: 250px;
    }

    > .contents-manager-view-inline-content-preview {
      height: auto;
    }

    > .contents-manager-view-inline-content-edit,
    > .contents-manager-view-inline-content-preview {
      display: block;
      margin: 0;
      overflow-y: auto;
      width: 100%;

      &.hidden {
        display: none;
      }
    }
  }

  .contents-manager-view-errors > .webutils-message {
    margin-top: .5em;
  }

  > .contents-manager-view-contents-view {
    > ul {
      display: flex;
      flex-direction: column-reverse;
      list-style: none;
      margin-top: 0;
      padding: 0;

      > .product-content-inline {
        display: none;
      }

      > li {
        margin-top: 1em;
      }
    }
  }

  > .contents-manager-view-attach {
    margin: 1em 0 0;

    &:after {
      content: '+';
    }
  }
}

/* adding alert level to a text product */
.radio-list-alert-level {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.radio-list-alert-level > li {
  flex: 1 1 25%;
  padding: 0.25em;
}

.radio-list-alert-level > li > span {
  display: flex;
  height: 3em;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 600px) {

  .radio-list-alert-level {
    flex-direction: row;

    > li {
      margin: 0;
    }
  }
}

.disclaimer {
  color: #666;
  font-size: 0.88em;
}

textarea.contents-manager-view-inline-content-edit[disabled] {
  background: #f4f4f4;
  border: 1px solid #ccc;
}