.editproduct-properties,
.editproduct-links {
  display: block;
  margin-top: 1em;
  min-height: 200px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.editproduct-helplist {
  margin-top: 0;
}
