.productcontentedit {
  .help {
    display: block;
    font-size: .8em;
    color: #666;
  }

  .content-id {
    display: block;
    min-width: 20em;
    width: 50%;
  }

  .content-url {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
  }

  .content-manual-container {
    display:block;
    height: 10em;
    width: 100%;
  }
}
