.productcontentedit {
  .help {
    color: #666;
    display: block;
    font-size: .8em;
  }

  .content-id {
    display: block;
    min-width: 20em;
    width: 50%;
  }

  .content-url {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .content-upload-button {
    margin-bottom: .25em;

    &:after {
      content: '\2934';
    }
  }

  .content-upload-container {
    border: 1px solid #999;
    color: #999;
    display:block;
    margin-top: 1em;
    padding: 3em 0;
    position: relative;
    text-align: center;
    width: 20em;

    &:after {
      display: block;
      border: 3px dashed #999;
      bottom: 10px;
      content: ' ';
      left: 10px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .content-upload-errors {
    margin-top: 1em;
    min-height: 4.3em;
  }
}
