@import '_ProductContentEditView.scss';


.product-content-view {
  border: 1px solid #ddd;
  margin-top: .5em;
  padding: 6px 6em 6px 6px;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  > .title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > .subtitle {
    color: #666;
    display: block;
    font-size: smaller;
  }

  > .buttons {
    position: absolute;
    right: 6px;
    top: 11px;

    > .delete {
      color: #E46554;
    }
  }
}
