.sendproduct {
  dd > dl {
    margin-top: 0;

    > dt {
      clear:left;
      float:left;
      font-weight:normal;
      margin-right:8px;

      &:after {
        content: ': ';
      }
    }
  }

  dd > ul {
    margin-top: 0;
  }
}

.accordion-content .alert {
  margin-top: 1em;
}

.send-complete:after,
.send-error:after {
  color: #58A973;
  content: '\2713';
  display: block;
  position: absolute;
  right: 1.5rem;
  top: .75rem;
}

.send-error:after {
  color: #E46554;
  content: 'x';
  font-weight: 700;
}

.sendproduct-send,
.sendproduct-cancel,
.sendproduct-done {
  &.hidden {
    display: none;
  }
}
