// this is from earthquake-eventpages
@import 'css/index';
@import 'mvc/ModalView';
@import 'htdocs/modules/admin/index';
@import 'htdocs/modules/admin/summary/index';

@import 'FileUploadView';
@import 'FileUploadStatusView';


/* this supports both location view and dyfi-form */
.modal-dialog {

  > .modal-content {
    padding-bottom: 25px;
  }

  > .modal-footer {
    line-height: 40px;
    padding: 0.5em 1em;
    background: #fff;
    height: inherit;

    button {
      vertical-align:middle;
      margin: 0 8px 0 0;
    }
  }
}

<<<<<<< HEAD
table.event-comparison > tbody > tr > td {
  vertical-align:top;
}

td.actions > button {
  display: block;
  margin: 4px auto;
}

small.value-diff {
  color: #999;
  display:block;
  font-size: 12px;
  font-weight: 300;
}
=======
.summary-actions {
  margin-top: -1px;
}

// .non-preferred {
//   font-weight: 300;
//   background-color: #f8f8f8;

//   > ul > li > span {
//     color: #999;
//   }
// }
>>>>>>> Create skeleton for editing products within the context of the eventpages
