.login-form {
  margin: 1em 0;
  max-width:100%;
  width: 400px;
}

.login-form > h3 {
  border-bottom: 1px solid #ccc;
  margin: 1em 0;
  padding: 1em 0;
}

.login-form > button {
  margin: 1em 0 0;
  padding: 1em;
  width: 100%;
}