
.edit-text {
  > .product-action-view {
    margin-top: 0;
  }

  > section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1em;
  }
}

.add-product-button {
  color: #090;
  display: block;
}
