
.edit-text {
  margin: 1em 0;

  > section {
    border: 1px solid #ddd;
    padding: 16px;
  }
}

.create-text-button,
.edit-text-button {
  display: block;
}

.no-product-warning {
  padding: 1em;
}
