
.product-action-view {

  margin: 1em 0;

  .summary > & {
    margin: 0 0 0.5em 8px;
  }

  .history {
    color: #00f;
  }

  .edit {
    color: #090;
  }

  .delete {
    color: #f00;
  }

  .trump {
    color: #f90;
  }

}
