
@import 'AdminSummaryDetailsPage';
@import 'EditLinkView';
@import 'AdminSummaryPage';
@import 'EventComparisonView';
@import 'LinkSummaryDetailsView';
@import 'ProductActionsView';
@import 'ProductHistoryView';
@import 'SendProductView';
@import 'TextSummaryDetailsView';
@import 'EditLinkView';
@import 'EditProductView';

label > small {
  display:block;
  color: #666;
  font-size: smaller;
}
